.container {
    flex: 1;
    display: flex;
    overflow: auto;
    flex-direction: column;
    padding: 10px 5px;
}

.title {
    flex: 0 0 auto;
    color: red;
    text-transform: capitalize;
    flex-direction: row;
    display: flex;
    padding: 5px 0;
    margin: 5px 0 5px -10px;
}

.title-name {
    flex: 1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    /*
    overflow: auto;
    */
}