.container {
    padding: 20px;
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
}

.background {
    min-height: 120px;
    position: relative;
    width: calc(100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background:before {
    content: '';
    display: inline-block;
    padding-top: 20%;
}

.link {
    position: absolute;
    top: 40px;
    left: 20px;
    text-decoration: none;
}

.info {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
}

.badge {
    width: 25%;
    max-width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate3d(20%, -20%, 0);
    outline: 15px solid #fff;
    flex: 0 0 auto;
}

.badge:before {
    content: '';
    padding-top: 100%;
    display: inline-block;
}

.name {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: red;
    padding: 10px 10px 10px calc(5% + 10px);
}

.footer {
    display: flex;
    flex: 1;
    background: #eee;
    align-items: center;
    justify-content: center;
}

.button {
    user-select: none;
    font-size: 2.5em;
    color: #fff;
    background-color: green;
    padding: 20px 40px;
    margin: 10px;
}