.container {
    display: flex;
    flex: 0 0 60px;
    flex-direction: row;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.item {
    color: #757575;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item svg {
    fill: #757575
}

.item:hover {
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.item:hover svg {
    fill: #000;
}

.icon {
    height: 35px;
}

.label {
    height: 20px;
    font-size: 1.3em;
    font-weight: bold;
}